@font-face {
	font-family: "Gilroy-Bold";
	src: url("./font/Gilroy-Bold.woff2");
}

@font-face {
	font-family: "Gilroy-Medium";
	src: url("./font/Gilroy-Medium.woff2");
}

@font-face {
	font-family: "Gilroy-Semibold";
	src: url("./font/Gilroy-Semibold.woff2");
}
@font-face {
	font-family: "Gilroy-Regular";
	src: url("./font/Gilroy-Regular.woff2");
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
}

img {
	display: block;
	max-width: 100%;
}

h1,
p,
a {
	color: #000000;
}

.container {
	max-width: 1173px;
	margin: 0 auto;
}

.header {
	padding: 40px 0;
	margin-bottom: 44px;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 500px;
}

.headerA {
	width: 533px;
	display: flex;
	justify-content: space-between;
}

.navigation a {
	font-family: Gilroy-Medium;
	font-size: 14px;
}

.color {
	font-family: Gilroy-Bold;
	color: #f25822;
}

.mainContent {
	display: flex;
	justify-content: space-between;
	margin-bottom: 257px;
}

.mainContent__leftSide {
	max-width: 522px;
}

.mainContent__leftSide h1 {
	font-family: Gilroy-Bold;
	font-size: 60px;
	line-height: 70, 31px;
	margin-bottom: 17px;
}

.mainContent__leftSide p {
	color: #888888;
	font-family: Gilroy-Medium;
	font-size: 20px;
	line-height: 23, 44px;
	margin-bottom: 37px;
	max-width: 466px;
}

.mainContent__leftSide-btnList{
	display: flex;
	gap: 40px;
}

.stail1 {
	color: #ffffff;
	font-family: Gilroy-Bold;
	font-size: 15px;
	line-height: 17, 58px;
	padding: 15px 35px;
	border-radius: 35px;
	background: #f25822;
	border: none;
	cursor: pointer;
}

.stail2 {
	color: #aaaaaa;
	font-family: Gilroy-Bold;
	font-size: 15px;
	line-height: 17, 58px;
	padding: 15px 35px;
	background: none;
	border: none;
	cursor: pointer;
}

.logos {
	display: flex;
	justify-content: center;
	gap: 48px;
	margin-bottom: 100px;
}

.cardList1 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 60px;
	margin-bottom: 100px;
}

.card1 {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 40px 30px 25px;
}

.card1 img {
	display: flex;
	margin-bottom: 25px;
}

.card1 h2 {
	display: flex;
	font-family: Gilroy-Bold;
	font-size: 24px;
	line-height: 28, 13px;
	margin-bottom: 17px;
}

.card1 p {
	color: #666666;
	;
	display: flex;
	font-family: Gilroy-Regular;
	font-size: 15px;
	line-height: 22, 5px;
	margin-bottom: 25px;
}

.card1 h3 {
	font-family: Gilroy-Bold;
	font-size: 11px;
	line-height: 16, 5px;
}

.fon2 {
	box-shadow: 15px 25px 56px 6px #0000000F;
}

.cardList2 {
	background: #FAFAFA;
	margin-bottom: 100px;
}

.cardText {
	max-width: 682px;
	margin: 0 auto;
}

.cardText h1 {
	font-family: Gilroy-Bold;
	font-size: 45px;
	line-height: 52, 73px;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 19px;
}

.cardText p {
	color: #666666;
	display: flex;
	font-family: Gilroy-Regular;
	font-size: 16px;
	line-height: 24px;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 55px;
}

.card {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
	align-items: center;
	text-align: center;
}

.card2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.card2 img {
	margin-bottom: 25px;
}

.card2 h2 {
	font-family: Gilroy-Bold;
	font-size: 24px;
	line-height: 28, 13px;
}

.card2 p {
	color: #AAAAAA;
	font-family: Gilroy-Regular;
	font-size: 15px;
	line-height: 22, 5px;
	padding: 22px 30px 39px;
}

.card2-btn {
	color: #ffffff;
	font-family: Gilroy-Bold;
	font-size: 13px;
	line-height: 19, 5px;
	padding: 15px 40px;
	border-radius: 35px;
	background: #f25822;
	border: none;
	cursor: pointer;
}

.fon3 {
	box-shadow: 15px 25px 56px 6px #0000000F;
}